<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="textParserBean" class="dictionary.TextParserImpl"/>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="textParserBean"/>
        <property name="serviceInterface" value="dictionary.TextParser"/>
        <property name="serviceName" value="TextParserService"/>
        <property name="replaceExistingBinding" value="true"/>
        <property name="registryPort" value="48777"/>
    </bean>
</beans>